# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

# Node modules (if you use npm later)
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Python cache
__pycache__/

# Java
*.class

# IntelliJ
.idea/

# Backup files
*.bak